/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */


/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

/* base */
body {
    font-family: 'Roboto slab', serif;
    overflow-x: hidden;
    background: #f1f1f1;
    color: #736357;
}
h1 {
    font-weight: 300;
    color: #736357;
}
p, li {
    font-weight: 300;
    color: #736357;
}
p.intro {
    font-size: 1.2em;
    line-height: 1.6;
    text-align: center;
}
figure {
    margin-left: 0;
    margin-right: 0;
}
img {
  max-width: 100%;
  margin-bottom: 1em;
}

/* responsive video */
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
    height: 0;
    margin: 4em 0 8em 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.videoWrapper figcaption {
    position: absolute;
    top: 100%;
    padding: 1em;
    text-align: center;
    background: #91f6c4;
    display: block;
    width: 100%;
}

/* site header */
.site-header {
    text-align: center;
    padding: 0 10px;
    max-width: 1140px;
    margin: 0 auto;
}
.site-header h1,
.site-header p,
.scroll-nav p {
    font-size: 1.125em;
    font-weight: 300;
    color: #736357;
}
.site-header a,
.scroll-nav a {
    text-decoration: none;
    color: #736357;
}
.site-header > p {
    width: 100%;
    margin: 1em 0;
}
.site-header .banner {
    margin: 1em 0;
}
.site-header h1,
.site-heading {
    margin: -40px 0 0 0;
}
.site-header span {
    position: relative;
    display: inline-block;
    width: 149px;
    height: 149px;
    vertical-align: middle;
}
.site-header span span.text {
    position: absolute;
    display: inline;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.site-header span.name {
    background: #91f6c4;
    border-radius: 75px;
}
.site-header span.name span.text {
    width: 80%;
    height: 2.8em;
}
.site-header span.occupation {
    border: 2px solid #91f6c4;
    border-radius: 74px;
    margin-left: -20px;
}
.site-header span.occupation span.text {
    width: 60%;
    height: 2.8em;
}
@media only screen and (min-width: 35em) {
    /* > 560px */
    .site-header .banner {
        margin: 4em 0;
    }
    .site-header .banner img {
        margin: 0 -20px 0 0;
    }
    .site-header h1,
    .site-heading {
        display: inline-block;
        margin: 0;
    }
}

/* main navagation */
.main-nav {
    border-bottom: 1px solid #999;
    border-top: 1px solid #999;
    margin: 1em 0;
}
.main-nav .menu-toggle {
    display: none;
    float: left;
    background-color: #91f6c4;
    height: 48px;
    width: 48px;
    background-image: url(img/hamburger-menu@2x.png);
    background-size: 24px 24px;
    background-position: center center;
    background-repeat: no-repeat;
}
.main-nav ul,
.scroll-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.main-nav ul li,
.scroll-nav ul li {
    display: inline-block;
    padding: 1em 0;
    font-weight: 300;
}
.main-nav ul li a {
    padding: 1em 20px;
}
.main-nav ul li a:hover,
.scroll-nav ul li a:hover {
    background: #91f6c4;
}
.main-nav ul li a.current,
.scroll-nav ul li a.current {
    background: none;
    color: #736357;
    border-bottom: 2px solid #736357;
}
.scroll-nav {
    background: #f1f1f1;
    position: fixed;
    z-index: 999;
    top: -100px;
    width: 100%;
    box-shadow: 0 2px #ddd;
    transition: top 1s ease;
}
.scroll-nav.show {
    top: 0px;
}
.scroll-nav > div {
    position: relative;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 10px;
}
.scroll-nav p {
    display: none;
}
.scroll-nav ul {
    display: block;
    text-align: center;
}
.scroll-nav ul li a {
    padding: 0.5em 10px;
}
@media only screen and (min-width: 35em) {
    .scroll-nav p {
        display: inline-block;
    }
    .scroll-nav ul {
        display: inline-block;
        text-align: right;
        position: absolute;
        right: 1em;
    }
}

.button {
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    background: #91f6c4;
    border-radius: 3px;
    box-shadow: 0px 3px 0px 0px #2fee8f;
    font-size: 0.75em;
    font-weight: 400;
    color: #736357;
    padding: 8px 8px;
}
.button:hover {
    background: #b4f9d6;
}
.button:active {
    box-shadow: 0px 3px 0px 0px #b4f9d6;
}
.button.goto:after {
    content: " \2197";
}

/* portfolio nav */
.portfolio-nav {
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
}
.prev {
    left: 0;
    padding-left: 24px;
    background-image: url(img/exit-man-left@2x.png);
    background-position: left center;
    background-size: 20px 30px;
    background-repeat: no-repeat;
}
.next {
    right: 0;
    padding-right: 24px;
    background-image: url(img/exit-man-right@2x.png);
    background-position: right center;
    background-size: 20px 30px;
    background-repeat: no-repeat;
}
.prev,
.next {
    display: inline-block;
    position: absolute;
    top: 0;
}
.prev.disabled,
.next.disabled {
    opacity: 0.4;
}
.prev.disabled .button,
.next.disabled .button {
    cursor: default;
}
.prev.disabled .button:hover,
.next.disabled .button:hover {
    background: #91f6c4;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(115, 99, 87, 0.7);
    /*dim the background*/
    display: none;
}


article h1 {
    text-align: center;
    margin-top: 2em;
}
article > h2 {
    text-align: center;
    letter-spacing: 3px;
    color: #736357;
    margin-top: 4em;
    font-weight: 300;
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
}
article h3 {
    margin-top: 2em;
}
@media screen and (min-width: 640px) {
    article h2 {
        margin-top: 2em;
    }
}
article p,
article li {
    line-height: 1.6;
}
@media screen and (min-width: 1000px) {
    article h2 {
        font-size: 1.5em;
        margin: 2em 0;
    }
}

/* layout */
article {
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 10px 4em 10px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2em;
    grid-column-gap: 2em;
    align-items: start;
}
article > h1,
article > h2 {
    grid-column-start: 1;
    grid-column-end: end;
}
.span1 {
  grid-column: span 1;
}
.span2 {
  grid-column: span 3;
}
.span3 {
  grid-column: span 3;
}
.span4 {
  grid-column: span 3;
}
.body,
.full-width {
    grid-column-start: 1;
    grid-column-end: end;
}


.mobile-and-descrition {
    grid-column-start: 1;
    grid-column-end: end;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2em;
}
.mobile-and-descrition figure.mobile {
    grid-column-start: 1;
    grid-column-end: 2;
}
.mobile-and-descrition .description {
    grid-column-start: 2;
    grid-column-end: end;
}
@media screen and (min-width: 640px) {
    article {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    article h1 {
        grid-column-start: 2;
        grid-column-end: 5;
    }
    .span1 {
      grid-column: span 1;
    }
    .span2 {
      grid-column: span 2;
    }
    .span3 {
      grid-column: span 3;
    }
    .span3.center {
      grid-column: 2 / 5;
    }
    .span4 {
      grid-column: span 4;
    }
    .full-width {
        grid-column-start: 1;
        grid-column-end: end;
    }

    figure.desktop {
        /*grid-column-start: 1;
        grid-column-end: 4;*/
    }
    figure.desktop.large {
        /*grid-column-end: 5;*/
    }
    .mobile-and-descrition {
        grid-column-start: 4;
        grid-column-end: end;

        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .mobile-and-descrition figure.mobile {
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .mobile-and-descrition .description {
        grid-column-start: 1;
        grid-column-end: end;
    }
    /*figure.desktop.large + figure.mobile {
        grid-column-start: 5;
        grid-column-end: end;
    }
    figure.desktop.large + figure.mobile + .description,*/
    .body
     {
        grid-column-start: 2;
        grid-column-end: 5;

    }

}

figure.desktop,
figure.mobile {
    position: relative;
    height: 0;
}
figure.desktop {
    padding-bottom: 57.833333%; /* height/width macbook-outline.png */
}
figure.mobile {
    padding-bottom: 207.25%; /* height/width iphone-outline.png */
    overflow: hidden;
}
figure.desktop:before,
figure.mobile:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 2;
}
figure.desktop:before {
    background-image: url(img/macbook-outline.png);
}
figure.mobile:before {
    background-image: url(img/iphone-outline.png);
}
figure.desktop .img-wrapper,
figure.mobile .img-wrapper {
    position: absolute;
}
figure.desktop .img-wrapper {
    position: absolute;
    top: 7%;
    left: 13.16667%;
    right: 13.16667%;
    bottom: 12.75%;
    overflow: hidden;
}
@media screen and (min-width: 640px) {
    figure.desktop {
        height: auto;
        padding-bottom: 0;
    }
    figure.desktop .img-wrapper {
        position: static;
        padding-top: 4.2%;
        padding-left: 13.16667%;
        padding-right: 13.16667%;
        padding-bottom: 8%;
    }
}
figure.mobile .img-wrapper {
    position: absolute;
    top: 14.75%;
    left: 9.5%;
    right: 9%;
    bottom: 15%;
    overflow: hidden;
}
figure.desktop img,
figure.mobile img {
    width: 100%;
    border: 1px solid #ddd;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */


/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}
.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
    /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}
.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}
@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}
