<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Need a Web Guy | Freelance web design by Albert J Penticoss</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

    <header class="site-header">
        <p><a href="/">needawebguy.com</a></p>
        <div class="banner">
            <img src="/img/avatar.png" alt="Photo of me"/>
            {% if page.layout == "portfolio" %}<h1>{% else %}<p class="site-heading">{% endif %}<span class="name"><span class="text">Albert John Penticoss</span></span> <span class="occupation"><span class="text">Web Designer</span></span>{% if page.layout == "portfolio" %}</h1>{% else %}</p>{% endif %}
        </div>
        <nav class="main-nav">
            <a class="menu-toggle ir" href="#">Menu</a>
            {% include main-nav.html %}
        </nav>
    </header>